hostname="freebsd"
keymap="jp.kbd"
wlans_iwm0="wlan0"
ifconfig_wlan0="WPA DHCP"
create_args_wlan0="country JP regdomain ETSI"
sshd_enable="YES"
ntpd_enable="YES"
ntpd_sync_on_start="YES"
moused_nondefault_enable="NO"

# Set dumpdev to "AUTO" to enable crash dumps, "NO" to disable
dumpdev="AUTO"
zfs_enable="YES"
kld_list="i915kms"
dbus_enable="YES"
ifconfig_em0="DHCP"
