<?xml version="1.0" encoding="UTF-8"?>

<openbox_menu>
<!-- Note: for localization support of menu items "client-menu" has to be removed here -->
<menu id="client-menu">
  <item label="Minimize">
    <action name="Iconify" />
  </item>
  <item label="Maximize">
    <action name="ToggleMaximize" />
  </item>
  <item label="Fullscreen">
    <action name="ToggleFullscreen" />
  </item>
  <item label="Roll Up/Down">
    <action name="ToggleShade" />
  </item>
  <item label="Decorations">
    <action name="ToggleDecorations" />
  </item>
  <item label="Always on Top">
    <action name="ToggleAlwaysOnTop" />
  </item>
  <!--
    Any menu with the id "workspaces" will be hidden
    if there is only a single workspace available.
  -->
  <menu id="workspaces" label="Workspace">
    <item label="Move Left">
      <action name="SendToDesktop" to="left" />
    </item>
    <item label="Move Right">
      <action name="SendToDesktop" to="right" />
    </item>
    <separator />
    <item label="Always on Visible Workspace">
      <action name="ToggleOmnipresent" />
    </item>
  </menu>
  <!--
    openbox default workspace selector
    to use replace above workspace menu with the example below
    the label is required, but you can change the text.

    <menu id="client-send-to-menu" label="Send to..." />
  -->
  <item label="Close">
    <action name="Close" />
  </item>
</menu>

<menu id="root-menu">
  <!-- Make client-list-combined-menu a submenu of root-menu
       You must supply a label or it will not appear in root-menu -->
  <!--
  <menu id="client-list-combined-menu" label="Running..." />
  -->
  <item label="Web browser">
    <action name="Execute" command="firefox" />
  </item>
  <item label="Terminal">
    <action name="Execute" command="alacritty" />
  </item>
  <item label="Reconfigure">
    <action name="Reconfigure" />
  </item>
  <separator />
  <menu id="accessories" label="Accessories">
  <item label="Geany">
    <action name="Execute" command="geany" />
  </item> 
  </menu> 
  <menu id="internet" label="Internet">
  <item label="">
    <action name="" />
  </item> 
  </menu> 
  <menu id="graphics" label="Graphics">
    <item label="Gimp">
      <action name="Execute" command="gimp" />
    </item> 
  </menu> 
  <menu id="multimedia" label="Multimedia">
    <item label="Audacity">
      <action name="Execute" command="audacity" />
    </item> 
    <item label="VLC">
      <action name="Execute" command="vlc" />
    </item> 
    <item label="OBS Studio">
      <action name="Execute" command="obs" />
    </item> 
  </menu>
  <menu id="office" label="Office">
    <item label="LibreOffice">
      <action name="Execute" command="libreoffice" />
    </item>
    <item label="LibreOffice Writer">
      <action name="Execute" command="libreoffice --writer" />
    </item>
    <item label="LibreOffice Calc">
      <action name="Execute" command="libreoffice --calc" />
    </item>
    <item label="LibreOffice Draw">
      <action name="Execute" command="libreoffice --draw" />
    </item>
  </menu>
  <menu id="games" label="Games">
    <item label="Steam">
      <action name="steam" />
    </item> 
  </menu> 
  <menu id="programming" label="Programming">
    <item label="VS Code">
      <action name="code" />
    </item> 
  </menu> 
  <separator />
  <item label="Exit">
    <action name="Exit" />
  </item>
  <item label="Poweroff">
    <action name="Execute" command="systemctl -i poweroff" />
  </item>
</menu>



<menu id="some-custom-menu">
  <!--
    Creates menu title.
    To create an empty header with no text,
    set label=" ", not label=""
  -->
  <separator label="custom menu" />
  <item label="Reconfigure">
    <action name="Reconfigure" />
  </item>
  <item label="Exit">
    <action name="Exit" />
  </item>
</menu>

</openbox_menu>
